/*=========================== GOOGLE FONTS ===========================*/
@import url('https://fonts.googleapis.com/css2? family= Barlow:wght@600 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root{

    --header-height: 2rem;

    /*=========== COLORS ===========*/

    /*--- Primary ---*/
    --soft-red-color: hsl(7, 99%, 70%);
    --yellow-color: hsl(51, 100%, 49%);
    --dark-desaturated-cyan--color: hsl(167, 40%, 24%);
    --dark-blue-color: hsl(198, 62%, 26%);
    --dark-moderate-cyan-color: hsl(168, 34%, 41%);
    --dark-cyan-color: hsla(168, 86%, 42%, 0.418);

    /*--- Neutral ---*/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);


    /*================== FONT AND TYPOGRAPHY ======================*/
    --body-font: 'Barlow', sans-serif;
    --title-font: 'Fraunces', serif;

    --z-fixed: 100;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: 18px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*=== LAYOUT ===*/

.bd-grid{
    max-width: 1440px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.header__container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(./images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header__container{
    width: 100%;
    top: 0;
    left: 0;
}


/*=== NAV ===*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--white);
    font-weight: 800;
    font-size: 1.50rem;
}


@media screen and (max-width: 767px) {
    .nav__menu{
        position: absolute;
        width: 90%;
        top: -100%;
        left: 0;
        right: 0;
        background-color: var(--white);
        padding: 5rem 0;
        margin: 7rem auto;
        border-radius: 2rem;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        z-index: var(--z-fixed);
        transition: 0.4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav__link{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    font-size: 1.2rem;
}

.nav__button{
    text-align: center;
    margin-top: 3rem;
}

.button__menu{
    color: var(--very-dark-desaturated-blue);
    background-color: var(--yellow-color);
    font-family: var(--title-font);
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
}

/*=== SHOW MENU ===*/

.show-menu {
    top: calc(var(--header-height) + 1rem);
}

/*=== MAIN ===*/

.home__main{
    text-align: center;
    margin-top: 7rem;
}

.home__title{
    font-family: var(--title-font);
    color: var(--white);
    letter-spacing: .25rem;
    line-height: 3.5rem;
    font-weight: 900;
}

.icon__arrow{
    margin: 7.5rem 0;
}

/*=== ABOUT ===*/

.about__img{
    width: 100%;
}

.about__data{
    padding: 3rem;
}

.about__title{
    font-family: var(--title-font);
    text-align: center;
    color: var(--very-dark-desaturated-blue);
}

.about__description{
    font-family: var(--body-font);
    color: var(--dark-grayish-blue);
    margin-top: 2rem;
    font-weight: 600;
    font-size: .75em;
    text-align: center;
    line-height: 1.4rem;
}

.about__item{
    margin-top: 2rem;
    text-align: center;
}

.about__link{
    font-family: var(--title-font);
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
    font-size: .75em;
    border-bottom: 5px solid var(--yellow-color);
}

.link__audience{
    border-bottom: 5px solid var(--soft-red-color)
}


/*=== SERVICES ===*/

.services__container{
    position: relative;
    display: inline-block;
}

.services__img{
    width: 100%;
    margin-top: -.50rem;
}

.services__title__design{
    position: absolute;
    top: 23rem;
    left: 5rem;
    font-family: var(--title-font);
    color: var(--dark-desaturated-cyan--color);
}

.services__description__design{
    position: absolute;
    text-align: center;
    top: 27rem;
    margin: 0 1rem;
    font-size: .90rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--dark-desaturated-cyan--color);
}

.services__title__photography{
    position: absolute;
    top: 60rem;
    left: 5.5rem;
    font-family: var(--title-font);
    color: var(--dark-blue-color);
}

.services__description__photography{
    position: absolute;
    text-align: center;
    top: 64rem;
    margin: 0 1rem;
    font-size: .95rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue-color);
}

/*=== TESTIMONIALS ===*/

.testimonials__container{
    padding: 2rem;
    text-align: center;
}

.testimonials__title{
    margin-top: 2rem;
    font-size: 1rem;
    letter-spacing: .2rem;
    color: var(--grayish-blue);
    font-family: var(--title-font);
}

.testimonials__img{
    width: 4rem;
    margin-top: 4rem;
    border-radius: 50%;
}

.testimonials__description{
    font-size: .99rem;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--very-dark-grayish-blue);
}

.testimonials__contact{
    margin-top: 3rem;
}

.testimonials__name{
    font-size: 1rem;
    font-weight: 900;
    font-family: var(--title-font);
}

.testimonials__profession{
    color: var(--grayish-blue);
    font-size: .75rem;
    margin-top: .50rem;
}


/*=== PROJECTS ===*/
.projects__img{
    width: 100%;
    margin-top: -.3rem;
}

.projects__img > img{
    width: 100%;
}

.projects__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 3rem;
}


/*=== FOOTER ===*/

.footer{
    background-color: var(--dark-cyan-color);
    padding: 7.5rem;
    margin-top: -1rem;
}

.footer__title{
    font-size: 2rem;
    margin-top: -3rem;
    color: var(--dark-desaturated-cyan--color);
    text-align: center;
}

.footer__list{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.footer__link{
    color: var(--dark-moderate-cyan-color);
    row-gap: 2rem;
}

.footer__contacts{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}
